prototype/papamoscas-icomot/papamoscas-deployment-files/papamoscas-cassandra/apache-cassandra-2.2.1/javadoc/org/apache/cassandra/thrift/Cassandra.system_add_column_family_result.html
prototype/papamoscas-icomot/papamoscas-deployment-files/papamoscas-cassandra/apache-cassandra-2.2.1/javadoc/org/apache/cassandra/thrift/Cassandra.system_add_keyspace_args._Fields.html
prototype/papamoscas-icomot/papamoscas-deployment-files/papamoscas-cassandra/apache-cassandra-2.2.1/javadoc/
prototype/papamoscas-icomot/papamoscas-deployment-files/papamoscas-cassandra/apache-cassandra-2.2.1/
*~
